<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xl-7 mt-5">
                <div class="block">
                    <div class="divider mb-3"></div>
                    <h1 class="mb-3 mt-3">Welcome to Raabta</h1>
                    
                    <p class="mb-4 pr-5">Raabta is a platform that connects the user to an expert. We have brought an easy and well structured application to make each and every individual stronger Mentally.</p>
                    <div class="btn-container ">
                        <a href="/experts" class="btn btn-main-2 btn-icon btn-round-full">Book an appoinment <i class="icofont-simple-right ml-2  "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>