	<!--blogs-->
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
				<div class="section-title text-center">
				<!-- <span class="subheading">Blog</span> -->
				<h2>Recent Blogs</h2>
				</div>
				</div>
			</div>
			<div class="row d-flex">
				<div class="col-md-4 d-flex ftco-animate"> 
				<div class="blog-entry justify-content-end">
					<div class="text text-center">
					<a href="blog-youngPeople.ejs" class="block-20 img" style="background-image: url('images/blog/blog-youngPeople.jpg');">
						</a>
						<div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
						<div>
							<span class="day">28</span>
							<span class="mos">October</span>
							<span class="yr">2020</span>
						</div>
					</div>
					<h3 class="heading mb-3"><a href="/blog-youngPeople">Young People's Mental Health</a></h3>
					<p>The COVID-19 pandemic, a UNICEF report and a review of the latest research all 
						highlight the urgent need for better prevention and treatment of youth anxiety and depression.</p>
					</div>
				</div>
				</div>
				<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry justify-content-end">
					<div class="text text-center">
						<a href="blog-whatIsMentalHealth.ejs" class="block-20 img" style="background-image: url('images/blog/blog-whatIsMentalHealth.png');">
						</a>
						<div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
						<div>
							<span class="day">28</span>
							<span class="mos">July</span>
							<span class="yr">2020</span>
						</div>
					</div>
					<h3 class="heading mb-3"><a href="/blog-whatIsMentalHealth">What is mental health?</a></h3>
					<p>Mental health refers to cognitive, behavioral, and emotional well-being. It is all about how people think, feel, and behave.</p>
					</div>
				</div>
				</div>
				<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry justify-content-end">
					<div class="text text-center">
					<a href="blog-mentalHealthAwareness.ejs" class="block-20 img" style="background-image: url('images/blog/blog-mentalHealthAwareness.jpg');">
						</a>
						<div class="meta text-center mb-2 d-flex align-items-center justify-content-center">
						<div>
							<span class="day">18</span>
							<span class="mos">May</span>
							<span class="yr">2020</span>
						</div>
					</div>
					<h3 class="heading mb-3"><a href="/blog-mentalHealthAwareness">The Importance of Mental Health Awareness</a mb-3></h3>
									<p>Mental illnesses affect 19% of the adult population, 46% of teenagers and 13% of children each year.</p>              
								</div>
				</div>
				</div>
			</div>
		</div>
	</section>