<!DOCTYPE html>
<html lang="zxx">
  <%- include ("./partials/head.ejs") %>

  <body id="top">
    <%- include ("./partials/navbar.ejs") %>

    <section class="page-title">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block text-center">
              <!-- <span class="text-white">About Us</span> -->
              <h1 class="text-capitalize mb-5 text-lg">About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section about-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h2 class="title-color">Raabta</h2>
          </div>
          <div class="col-lg-8">
            <p>
              This semester we came with an idea to cater the issues all
              individuals face once in a lifetime. We think that our mental
              health has great importance but unfortunately it is neglected in
              our society. With mutual discussions we came up with a solution
              that resolves all these problems. We bring Raabta as a tool that
              can be used by anyone for their own benefit.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section team">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="section-title text-center">
              <h2 class="mb-4">Meet Our Team</h2>
              <div class="divider mx-auto my-4"></div>
              <p>
                This team is the reason Raabta came into existence. We believe
                that our contribution to the society will have fruitful
                outcomes.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-block mb-5 mb-lg-0">
              <img
                src="images/team/subhan.jpg"
                alt=""
                class="img-fluid w-100"
              />
              <ul class="list-inline mt-4 doctor-social-links">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/subhanbawany999/"
                    ><i class="icofont-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/subhan-bawany-38ba791a0"
                    ><i class="icofont-linkedin"></i
                  ></a>
                </li>
              </ul>

              <div class="content">
                <h4 class="mt-4 mb-0">Subhan Bawany</h4>
                <p>Developer</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-block mb-5 mb-lg-0">
              <img
                src="images/team/zohair.jpg"
                alt=""
                class="img-fluid w-100"
              />
              <ul class="list-inline mt-4 doctor-social-links">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/zohair.abbas.946"
                    ><i class="icofont-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/zohair-abbas-b82395191/"
                    ><i class="icofont-linkedin"></i
                  ></a>
                </li>
              </ul>
              <div class="content">
                <h4 class="mt-4 mb-0">Zohair Abbas</h4>
                <p>Developer</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-block mb-5 mb-lg-0">
              <img
                src="images/team/jaffar.jpg"
                alt=""
                class="img-fluid w-100"
              />
              <ul class="list-inline mt-4 doctor-social-links">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/jaffarabbas17"
                    ><i class="icofont-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/jaffar-abbas-343413198"
                    ><i class="icofont-linkedin"></i
                  ></a>
                </li>
              </ul>
              <div class="content">
                <h4 class="mt-4 mb-0">M. Jaffar Abbas</h4>
                <p>Developer</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-block mb-5 mb-lg-0">
              <img
                src="images/team/irtiza.jpg"
                alt=""
                class="img-fluid w-100"
              />
              <ul class="list-inline mt-4 doctor-social-links">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/irtiza.raza.73/"
                    ><i class="icofont-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/subhan-bawany-38ba791a0"
                    ><i class="icofont-linkedin"></i
                  ></a>
                </li>
              </ul>
              <div class="content">
                <h4 class="mt-4 mb-0">M. Irteza Raza</h4>
                <p>Developer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include ("./partials/footer.ejs") %>
    <%- include ("./partials/scripts.ejs") %>
  </body>
</html>
