<!DOCTYPE html>
<html lang="zxx">
  <%- include ("./partials/head.ejs") %>

  <body id="top">
    <%- include ("./partials/navbar.ejs") %>

    <section class="page-title">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block text-center">
              <h1 class="text-capitalize mb-5 text-lg">Blog</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section blog-wrap">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="row">
    <div class="col-lg-12 mb-5">
      <div class="single-blog-item">
        <img src="images/blog/blog-whatIsMentalHealth.png" alt="" class="img-fluid">
  
        <div class="blog-item-content mt-5">
          <div class="blog-item-meta mb-3">
            <span class="text-color-2 text-capitalize mr-3"><i class="icofont-book-mark mr-2"></i> Equipment</span>
            <span class="text-muted text-capitalize mr-3"><i class="icofont-comment mr-2"></i>5 Comments</span>
            <span class="text-black text-capitalize mr-3"><i class="icofont-calendar mr-2"></i> 28th January 2019</span>
          </div> 
  
          <h2 class="mb-4 text-md"><a href="blog-whatIsMentalHealth.ejs">What is mental health?</a></h2>
  
          <p class="lead mb-4">Mental health conditions such as stress, depression, and anxiety may develop due to underlying, life-changing physical health problems,
             such as cancer, diabetes, and chronic pain.</p>
  
          <p>Mental health can affect daily living, relationships, and physical health.

            However, this link also works in the other direction. Factors in people’s lives, interpersonal connections, and physical factors can all contribute to mental health disruptions.
            
            Looking after mental health can preserve a person’s ability to enjoy life. Doing this involves reaching a balance between life activities, responsibilities, and efforts to achieve psychological resilience.
            
            Conditions such as stress, depression, and anxiety can all affect mental health and disrupt a person’s routine.
            
            Although the term mental health is in common use, many conditions that doctors recognize as psychological disorders have physical roots.
            
            In this article, we explain what people mean by mental health and mental illness. We also describe the most common types of mental disorders, including their early signs and how to treat them.
            
            According to World Health Organization(WHO): </p>
  
          <blockquote class="quote">
            “Mental health is a state of well-being in which an individual realizes his or her own abilities,
             can cope with the normal stresses of life, can work productively, and is able to make a contribution to his or her community.”
          </blockquote>
  
          
          <p class="lead mb-4 font-weight-normal text-black">The WHO stress that mental health is “more than just the absence of mental disorders or disabilities.” 
            Peak mental health is about not only avoiding active conditions but also looking after ongoing wellness and happiness.</p>
  
          <p>They also emphasize that preserving and restoring mental health is crucial on an individual basis, as well as throughout different communities and societies the world over.

            In the United States, the National Alliance on Mental Illness estimate that almost 1 in 5 adults experience mental health problems each year.
            
            In 2017, an estimated 11.2 million adultsTrusted Source in the U.S., or about 4.5% of adults, had a severe psychological condition, according to the National Institute of Mental Health (NIMH).
            
            </p>
  
        </div>
      </div>
    </div>
  
    <div class="col-lg-12">
      <div class="comment-area mt-4 mb-5">
        <h4 class="mb-4">2 Comments on Mental Health... </h4>
        <ul class="comment-tree list-unstyled">
          <li class="mb-5">
            <div class="comment-area-box">
              <div class="comment-thumb float-left">
                <img alt="" src="images/blog/testimonial1.jpg" class="img-fluid">
              </div>
  
              <div class="comment-info">
                <h5 class="mb-1">John</h5>
                <span>United Kingdom</span>
                <span class="date-comm">| Posted April 7, 2019</span>
              </div>
              <div class="comment-meta mt-2">
                <a href="#"><i class="icofont-reply mr-2 text-muted"></i>Reply</a>
              </div>
  
              <div class="comment-content mt-3">
                <p>It was an informative article. </p>
              </div>
            </div>
          </li>
  
          <li>
            <div class="comment-area-box">
              <div class="comment-thumb float-left">
                <img alt="" src="images/blog/testimonial2.jpg" class="img-fluid">
              </div>
  
              <div class="comment-info">
                <h5 class="mb-1">Philip W</h5>
                <span>United Kingdom</span>
                <span class="date-comm">| Posted June 7, 2019</span>
              </div>
  
              <div class="comment-meta mt-2">
                <a href="#"><i class="icofont-reply mr-2 text-muted"></i>Reply </a>
              </div>
  
              <div class="comment-content mt-3">
                <p>Really knowledgable for people like me! </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  
  
    <div class="col-lg-12">
      <form class="comment-form my-5" id="comment-form">
        <h4 class="mb-4">Write a comment</h4>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" type="text" name="name" id="name" placeholder="Name:">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" type="text" name="mail" id="mail" placeholder="Email:">
            </div>
          </div>
        </div>
  
  
        <textarea class="form-control mb-4" name="comment" id="comment" cols="30" rows="5" placeholder="Comment"></textarea>
  
          <!-- <input class="btn btn-main-2 btn-round-full" type="submit" name="submit-contact" id="submit_contact" value="Submit Message">  -->
        <a href="blog-whatIsMentalHealth.ejs" class="btn btn-main btn-round-full mt-3 ">Submit Message</a>
      </form>
    </div>
  </div>
              </div>
              
  </section>

    <%- include ("./partials/footer.ejs") %>
    <%- include ("./partials/scripts.ejs") %>


  </body>
</html>
