<!DOCTYPE html>
<html lang="zxx">
  <%- include ("./partials/head.ejs") %>

  <body id="top">
    <%- include ("./partials/navbar.ejs") %>

    <div style= "text-align: center; margin-top: 5rem;" class="mb-30">
        <a href="/loginUser" class="btn btn-main-2 btn-icon btn-round-full  mb-30">Login as User <i class="icofont-simple-right ml-2"></i></a><br>
        <a href="/loginExpert" class="btn btn-main-2 btn-icon btn-round-full  mb-30">Login as Expert <i class="icofont-simple-right ml-2 mb-30"></i></a>
    </div>

    <%- include ("./partials/footer.ejs") %>

    <%- include ("./partials/scripts.ejs") %>

  </body>
</html>
