<!DOCTYPE html>
<html lang="zxx">
<%- include ("./partials/head.ejs") %>

  <body id="top">
    <%- include ("./partials/navbar.ejs") %>

      <div>
        <div class="center">
          <h1>User Login</h1>
          <form method="post" id="loginUser">
            <div class="txt_field">
              <input id="email" type="text" required />
              <span></span>
              <label>Username</label>
            </div>
            <div class="txt_field">
              <input id="password" type="password" required />
              <span></span>
              <label>Password</label>
            </div>
            <input type="submit" value="Login">
            <p class="bottom-text text-center">
              Don't have an account? <a href="/signupUser">Register here!</a>
            </p>
          </form>
        </div>
      </div>

      <%- include ("./partials/scripts.ejs") %>

        <script>
          const form = document.getElementById("loginUser");
          form.addEventListener("submit", loginUser);

          async function loginUser(event) {
            event.preventDefault();
            const Email = document.getElementById("email").value;
            const Password = document.getElementById("password").value;

            const result = await fetch("/api/login", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                Email,
                Password
              }),
            }).then((response) => response.json())
              .then(result => {
                console.log("data on loginExpert", result)

                if (result.status === "ok") {
                  localStorage.setItem('user', JSON.stringify(result.user));
                  localStorage.setItem('token', JSON.stringify(result.data));

                  alert("Connected");
                  window.location.href = '/user-dashboard'
                } else {
                  alert(result.error);
                }
              })
          }
        </script>
  </body>

</html>